﻿@{
    ViewData["Title"] = "Home Page";
}

@section Css
{

    <style>
        color:red;
        backgrond-color:blue;


    </style>
    }

@section  Scripts
{

  <script type="text/javascript">
    alert("Sayfamıza hoş geldin")
    $(document).ready(function() { 


        console.log("Sayfamıza hoş geldin");

    })
    </script>
    }
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<partiel name="_MenuPartialView" ></partiel>