@{
    ViewData["Title"] = "Update";
}
@model Product
<h1>Ürün Güncelleme</h1>
<form asp-action="Update" asp-controller="Products" method="post">
    <div class="mb-3">
        <label asp-for="Id" class="form-label">Ürün Id</label>
        <input type="hidden" class="form-control" asp-for="Id">
    </div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Ürün ismi: </label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label">Ürün Fiyatı</label>
        <input type="number" class="form-control" asp-for="Price">
    </div>
    <div class="mb-3">
        <label asp-for="Color" class="form-label">Ürün Rengi: </label>
        <input type="text" class="form-control" asp-for="Color">
    </div>

    <div class="mb-3">
        <label asp-for="Stock" class="form-label">Ürün Stok: </label>
        <input type="number" class="form-control" asp-for="Stock">
    </div>

    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>


